body{
	background-color: darkslateblue;
	background-image: url(images/IMG_7393.PNG);
	background-size: 150%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	filter: brightness(100%);
}

div.mainr{
	float: center;
}

img{
	position: relative;
	float: right;
	border: 5px solid blue;
}

img:hover{
	border: 5px solid red;
}

p{
}

p.h1{
	font-size: 30px;
	font-family: Monospace;
	color: darkred;
}

p.h2{
	text-align: justify;
	font-family: Monospace;
	color: red;
}

p.lyrics{
	float: left;
	margin: 0px auto;
	text-align: justify;
	font-family: Monospace;
	color: azure;
	font-size: 15px;
}

div.video{
	display: flex;
	align-items: center;
}

#block2{
	display: flex;
	bottom: 0px;
	text-align: left;
	background-color: lightgreen;
	width: 100%;
}

a{
	font-family: monospace;
	color: white;
}

a:hover{
	color: blue;
}

iframe{
	border: 5px solid powderblue;
}
